<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books">Guttenberg Books</a></li>
        <li><a href="/openlibrary">Open Library Books</a></li>
        <li><a href="/googlebooks">Google Books</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/admin">Admin</a></li>
        <% if (user) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>
